body{

}

.center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.center2 {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.center.responsive {
  width: 50vw; 
  height: 40vh;
  padding: 40px;
}

.center2.responsive2 {
  width: 50vw; 
  height: 78vh;
  padding: 40px;
}

logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
}
